.jumbotron {
    padding:40px 20px 40px 20px;
    margin:0px auto;
    background: #212121a6 ;
    color:floralwhite;
}
body{
    padding:0px 0px 0px 0px;
    z-index:0;
    background-color: #121212; 
    color: floralwhite;
    margin-top: 55px;
}
.navbar-dark {
    background-color: #000000;
}
.footer{
    color: floralwhite;
    background: #1e1e1e;
}
.carousel-item {
    height: 70vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-primary,
.btn-primary:focus {
    background-color: #000000;
    border-color: #000000;
}
.btn-primary:hover{
    background-color: #212121;
    border-color: #000000;

}
.btn-secondary,
.btn-secondary:focus {
    background-color: #f76038;
    border-color: #f76038;
}
.btn-secondary:hover{
    background-color: #f76138a6;
    border-color: #f76038a6;
}
.breadcrumb{
    background-color: #212121;
}
.modal-header{
    background-color: #000000;
    color: floralwhite;
}
.modal-header .close {
    color: floralwhite; }

.modal-body{
    background-color: #212121;
    color: floralwhite;
}
.mybg{
    background-color: #212121
}
.mybg2{
  background-color: #000;
}
.news-updates {
    padding: 5rem 0; }
    .news-updates .section-heading {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 40px; }
      .news-updates .section-heading h2 {
        margin-bottom: 0;
        line-height: 0; }
      .news-updates .section-heading a {
        font-size: 16px; }
    .news-updates .post-entry-big .img-link {
      position: relative;
      display: inline-block;
      margin-bottom: 30px;
      overflow: hidden; }
      .news-updates .post-entry-big .img-link img {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .news-updates .post-entry-big .img-link:before {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        content: "";
        background: #000;
        opacity: 0;
        z-index: 2;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .news-updates .post-entry-big .img-link img {
        z-index: 1; }
      .news-updates .post-entry-big .img-link:hover:before {
        opacity: 0.1;
        visibility: visible; }
      .news-updates .post-entry-big .img-link:hover img {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
    .news-updates .post-entry-big .post-content .post-meta a {
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      color: floralwhite; }
    .news-updates .post-entry-big .post-content .post-heading {
      line-height: .9; }
      .news-updates .post-entry-big .post-content .post-heading a {
        font-size: 18px;
        font-weight: bold;
        color: #f76038; }
        .news-updates .post-entry-big .post-content .post-heading a:hover {
          color: #ffe001; }
    .news-updates .post-entry-big.horizontal .img-link {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
      flex: 0 0 90px; }


      hr { display: block; height: 2px;
        border: 0; border-top: 2px solid #121212;
        margin: 1em 0; padding: 0; }
  
.text-uiet{
  color: #f76038;
}        

a.mylink:link { color:#f76038; text-decoration:none; font-weight:normal; }
a.mylink:visited { color: #f76038; text-decoration:none; font-weight:normal; }
a.mylink:hover { color: #f76038; text-decoration:underline; font-weight:normal; }
a.mylink:active { color: #f76038; text-decoration:none; font-weight:normal; }